<article class="grid grid--1x2 feature">
  <div class="feature__content">
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
    </span>
    <h3 class="feature__heading">Super Easy to Use</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
      vel ad unde est illo at. Labore excepturi officia dolores!
    </p>
    <a href="#" class="link-arrow">Learn More</a>
  </div>
  <img class="feature__image" src="images/easy.jpg" alt="Easy to use" />
</article>
